$day-cell-size: 100px;
$day-text-size: 30px;
$day-text-font: Arial;
$day-cell-bg-color: #eee;
$day-cell-bg-color-hover: #ffbfcb;
$calendar: 500px;
$padding: 10px;
$week-days-count: 7;
$gap: 1px;
$border: 1px;
$week-days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);



